.b_model1
{
    border: 7px solid blue;
    /* padding: 40px; */
    padding-top: 80;
    padding-bottom: 80;
    padding-right: 100;
    padding-left: 100;
}
.b_model2
{
    border: 7px solid blue;
    /* padding: 40px; */
    padding-top: 80;
    padding-bottom: 80;
    padding-right: 100;
    padding-left: 100; 
}
.img_padding
{
    border: 20px solid darksalmon;
}