.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 20px;
  font-size: 200px;
  font-weight: 1000;
  font-family: sans-serif;
  color: tomato;
  padding: 50px;
  gap: 50px;
}
.text_container>b{
  height: 400px;
  box-shadow: 0px 25px 15px grey;
  background: linear-gradient(to right,lightblue,lightcoral, lightskyblue,lime,white,lightcoral,lightblue);
  background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: rotate(80deg);
  animation: getUpDown 3s infinite;
}
.text_container>b:nth-child(1){
  animation-delay: 0.10s;
}
.text_container>b:nth-child(2){
  animation-delay: 0.25s;
}
.text_container>b:nth-child(3){
  animation-delay:0.35s;
}
.text_container>b:nth-child(4){
  animation-delay:0.45s;
}
.text_container>b:nth-child(5){
  animation-delay:0.55s;
}
.text_container>b:nth-child(6){
  animation-delay: 0.65s;
}
.text_container>b:nth-child(7){
  animation-delay: 0.75s;
}
@keyframes getUpDown {
    from{
        transform: rotateX(-360deg);
    }
    10%,50%{
        transform: rotateY(180deg);
    }
    60%, to{
        transform: rotateX(-360deg);
    }
}
 